jupyterlab>=4.1.0,<5.0.0a0
jedi<0.18.0,>=0.17.0
pyspark
findspark
networkx
numpy
gensim
pandas
beautifulsoup4
keras
tensorflow
joblib
matplotlib
mlxtend
xgboost
seaborn
ipywidgets
jupyterlab_latex
plotly
bokeh
scipy
numexpr
patsy
scikit-learn
scikit-image
ipython
sympy
nose
jupyter-lsp
python-lsp-server[all]
jedi-language-server
jupyterlab-git
tqdm

litellm
openai

pandas-datareader
rdflib
SPARQLWrapper
networkx
biothings
cwltool
papermill

jupyterlab_widgets
jupyterlab_darkside_theme

polars
pyarrow
seaborn
connectorx

sparknlp
pandas
psycopg2
sqlalchemy
