# renovate: allowedVersions=">=4.1.0 <5.0.0a0"
jupyterlab>=4.1.0,<5.0.0a0

# renovate: allowedVersions=">=0.17.0 <0.18.0"
jedi<0.18.0,>=0.17.0

# renovate: allowedVersions=">=3.5.6 <4.0.0"
pyspark<4.2.0,>=4.1.1

findspark
networkx
numpy
gensim
pandas
beautifulsoup4
keras
tensorflow
joblib
matplotlib
mlxtend
xgboost
seaborn
ipywidgets
jupyterlab_latex
plotly
bokeh
scipy
numexpr
patsy
scikit-learn
scikit-image
ipython
sympy
nose
jupyter-lsp
python-lsp-server[all]
jedi-language-server
jupyterlab-git
tqdm
nbgitpuller

litellm
openai

pandas-datareader
rdflib
SPARQLWrapper
networkx
biothings
cwltool
papermill

jupyterlab_widgets
jupyterlab_darkside_theme

polars
pyarrow
seaborn
connectorx

sparknlp
pandas
psycopg2
sqlalchemy
